@page "/"
@using System
@using RecipeApp.Models
@using RecipeApp.Services
@inject RecipeService RecipeService

<PageTitle>Recipes</PageTitle>

<h1>Available Recipes (In-Memory)</h1>

<NavLink class="btn btn-primary mb-3" href="/editrecipe?source=inmemory">
    Add New Recipe
</NavLink>

@if (!RecipeService.GetAllRecipes().Any())
{
    <p><em>No recipes available.</em></p>
}
else
{
    <ul>
        @foreach (var recipe in RecipeService.GetAllRecipes())
        {
            <li>
                <NavLink href="@($"/recipedetail?title={Uri.EscapeDataString(recipe.Title)}&source=inmemory")">
                    @recipe.Title (serves @recipe.Yield)
                </NavLink>
                <NavLink class="ms-2" href="@($"/editrecipe?title={Uri.EscapeDataString(recipe.Title)}&source=inmemory")">
                    [Edit]
                </NavLink>
            </li>
        }
    </ul>
}