@page "/"
@using System
@using RecipeApp.Models
@using RecipeApp.Services
@inject RecipeService RecipeService

<PageTitle>Recipes</PageTitle>

<h1>Available Recipes</h1>

@if (!RecipeService.GetAllRecipes().Any())
{
    <p><em>No recipes available.</em></p>
}
else
{
    <ul>
        @foreach (var recipe in RecipeService.GetAllRecipes())
        {
            <li>
                <NavLink href="@($"/recipedetail?title={Uri.EscapeDataString(recipe.Title)}&source=inmemory")">
                    @recipe.Title (serves @recipe.Yield)
                </NavLink>
            </li>
        }
    </ul>
}